<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>table</title>
</head>
<body>
    <table class="table1">
        <thead id="header">Student Details</thead>
        <tbody>
            <tr>
            <th>RollNo</th>
            <th>Name</th>
            <th>Age</th>
            </tr>
            <tr>
                <td>111</td>
                <td>Rajitha</td>
                <td>20</td>
            </tr>
            <tr>
                <td>222</td>
                <td>Lalitha</td>
                <td>22</td>
            </tr>
            <tr>
                <td>333</td>
                <td>Raja vamsi</td>
                <td>18</td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>
