<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <h1>Registration form</h1>
        <p>Name:
            <input type="text" name="name" id="name" [(ngModel)]="empObj.name">
        </p>
        <p>
            Age:
            <input type="number"  name="age" id="age" [(ngModel)]="empObj.age">
        </p>
        <p> branch:
            <input type="text" name="branch" branch="branch" [(ngModel)]="empObj.branch">

        </p>
        <button (click)="submit()">submit</button>
    </form>
  <app-table1 [parentData]="'childData'" [empArr1]="empArr"></app-table1>
    
</body>
</html>
